body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#results {
  margin-top: 20px;
}

#performanceScore {
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

#screenshotContainer {
  margin-top: 20px;
}

#screenshot {
  max-width: 100%;
  height: auto;
}

.error-cell {
  background-color: #f8d7da !important;
  color: #000 !important;
}

.fast {
  background-color: #d4edda !important; /* зелений */
  color: #155724 !important;
}

.average {
  background-color: #fff3cd !important; /* жовтий */
  color: #856404 !important;
}

.slow {
  background-color: #f8d7da !important; /* червоний */
  color: #721c24 !important;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
